/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@700');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@200&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

@import "components/typo.css";
@import "components/banner.css";
@import "components/card.css";
@import "components/footer.css";

/* Utilities */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Open Sans;
}

a {
  text-decoration: none;
}

/* Custom design below! */
.container {
  width: 1000px;
  margin: 0 auto;
}

#how-it-works {
  height: 100vh;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
